.star {
  animation: rotate 7s linear infinite;
  z-index: -1;
}

.hidden-stars {
  display: absolute;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 800px) {
  .hidden-stars {
    display: none;
  }
}
