@font-face {
  font-family: "ShortStack";
  src: url("../fonts/Short_Stack/ShortStack-Regular.ttf");
}

* {
  margin: 0;
}

:root {
  --new-task-bg-color: #562eab;
  --b-radius: 20px;
}

body {
  background-color: #ae8afc7e;
  font-family: "ShortStack";
}

.center {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
